#overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 7;
}

@keyframes spinner_rotate {
    0% {-ms-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);}
    25% {-ms-transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);}
    50% {-ms-transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);}
    75% {-ms-transform: rotate(270deg);
        -webkit-transform: rotate(270deg);
        transform: rotate(270deg);}
    100% {-ms-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);}
}

#spinner {
    position: absolute;
    top: 45%;
    left: 45%;
    width: 100px;
    height: 100px;
    z-index: 14px;
    border-radius: 50%;
    border-width: 15px;
    border-style: solid;
    border-color: white;
    border-top-color: darkblue;
    animation-name: spinner_rotate;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.container-center {
    position: relative;
    left: 36%;
    margin-top: 18%;
}